.top {
    display: block;
    width: 100%;
}

.line {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.tp-input-small{
    width: 90%;
}

.tp-date{
    width: 60%;
}

.tp-title {
    font-size: 22px;
    color: #00345b;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 50%;
    margin-left: 20px;
}

.scanQr {
    argin-right: -1px!important;
    float: right;
    margin: 0 20px;
    padding: 10px;
    width: 100px;
    align-content: flex-end;
    font-size: 16px;
    background-color: #008798;
    border: none;
    color: white;
}

.inverted-colors {
    background-color: white !important;
    color: #008798 !important;
    border: 1px solid #008798 !important;
}

.bottom {
    padding: 0 0 0 10%;
}

.wide-button {
    width: 40%;
}

.left-div {
    width: 100%;
}

.right-div {
    display: flex;
    align-items: center;
}

div.form-group {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

