.subtitle-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(100px, 1fr) 350px 350px;
    background-color: #fff;
    color: #444;
}

.action-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    height: 55px;
    width: 160px;
}

.add-btn {
    margin-left: 10px;
}

.alert-info {
    padding: 0;
}

.overview-statistics {
    color: #fff;
    display: flex;
    justify-content: space-around;
    background-color: #818182;
    height: 55px;
    width: 100%;
    border-radius: 0.25rem;
    align-items: center;
}

.period-and-statistics-container {
    display:flex;
    flex-direction: column;
}

.period-and-statistics-item {
    display: flex;
    margin: 10px auto;
}

h2.main-title {
    margin-bottom: 0px;
}

.overview-statistics > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recruitment-state {
    margin: 0 auto;
}


.stepper-container {
    display: flex;
    padding: 2rem 5%;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.step-element {
    border: 3px solid #008798;
    display: inline-block;
    background: #f7f7f7;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    border-radius: 50px;
    position: relative;
    color: black;
}

.status-name{
    position: absolute;
    top: 50px;
    right: -15px;
    color: black;
}

.status-name p {
    font-weight: 600;
}

.step-element[data-active] {
    background: #008798;
}

.step-element[data-already-completed] {
    background: #008798;
}

.step-element .fa-icon {
    color: black;
}

.step-element[data-active]::after {
    content: "\f063";
    font-family: 'FontAwesome';
    color: #008798;
    position: absolute;
    bottom: 40px;
    left: 10px;
}

.step-element[data-negative] {
    background: #ff5f5f;
}

.step-break-line {
    height: 3px;
    background: #008798;
    width: 50%;
}

.step-break-line:last-child {
    display: none;
    visibility: hidden;
}