.subtitle-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.action-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    height: 55px;
    width: 160px;
    margin-left: 20px;
}

.recruitment-period {
    height:55px;
}

.action-buttons {
    padding: 0.25rem;
}

.overview-statistics {
    display: flex;
    justify-content: space-between;
    background-color: #008798;
    color: white;
    width: 650px;
    height: 55px;
    border-radius: 0.25rem;
}

.overview-statistics > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recruitment-state {
    margin: 0 auto;
}