.subtitle-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(100px, 1fr) 210px 320px;
    background-color: #fff;
    color: #444;
}

.action-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    height: 55px;
    width: 160px;
}

.add-btn {
    margin-left: 20px;
}

.alert-info {
    padding: 0px;
}

.recruitment-period {
    height:55px;
}

.overview-statistics {
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #008798;
    color: white;
    height: 55px;
    border-radius: 0.25rem;
}

.overview-statistics > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recruitment-state {
    margin: 0 auto;
}