
.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
}

.confirmation{
    display:flex;
}

.confirmation-item{
    margin-left: 5px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

textarea {
    width: 700px;
    height: 100px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-35-percent {
    margin-left: 35% !important;
}